<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Cześć,</h2>
    <p>
      Został rozpisany mecz <%= "#{@match.team1} - #{@match.team2}" %>. Sędzią meczu jest <b><%= @match.judge %></b>. Mapy zostaną przydzielone po akceptacji terminu.
    </p>    
    <p>
       Kapitanowie oraz sędzia mają wgląd w tryb propozycji terminów, który znajduje się na stronie meczu (<%= match_url(@match) %>). Pozostali członkowie proszeni są o powiadomienie swoich kapitanów o dostępnych terminach.
    </p>
    <p>Pozdrawiamy,<br/>Administracja serwisu unchartedleague.com</p>
    <p><small>Ten e-mail został wygenerowany automatycznie, prosimy na niego nie odpowiadać.</small></p>
  </body>
</html>
