<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Cześć,</h2>
    <p>
      Na stronie unchartedleague.com czeka na Ciebie nowa oferta od <b><%= @offer.from %></b>. Aby ją zobaczyć, zapraszamy do działu <a href="<%= offer_url(@offer) %>">Oferty</a>.
    </p>    
    <p>Pozdrawiamy,<br/>Administracja serwisu unchartedleague.com</p>
    <p><small>Ten e-mail został wygenerowany automatycznie, prosimy na niego nie odpowiadać.</small></p>
  </body>
</html>
