<h2 style="margin-top: 20px;"><%= article.title %></h2>

<article>
  <div class="content">
    <%= article.content_preview %>
  </div>
</article>

<section id="read_more">
  <%= link_to "Czytaj dalej (#{pluralize_localized(article.comment_count, "komentarz")})", article_path(article) %>
</section>