<h1><%= t('articles.title') %></h1>
<section id="article_list">
  <ul>
    <% for article in @articles do %>
      <li>
        <p>
          <em>
             <%= link_to article.title, article %> 
             <span class="dates"><%= time_tag article.created_at %></span>             
          </em>
          <%= article.content_preview %>
        </p>
      </li>
    <% end %>
  </ul>
</section>
