<h1>Witaj na nowej stronie Ligi Uncharted!</h1>
<p>Strona jest wciąż w przygotowaniu - start pełnej wersji jest zaplanowany na 20. stycznia. 
  Do tego czasu uruchomiliśmy moduły Drużyn i Zapisów. W ciągu następnych dwóch tygodni będziemy uruchamiać kolejne funkcjonalności.</p>

<p>Zdajemy sobie sprawę, że nowa strona zawiera błędy i w niektórych miejscach jest nieintuicyjna, dlatego wszelkie problemy tego typu prosimy zgłaszać na forum w specjalnie do tego stworzonym temacie: 
  <a href="http://unchartedleague.com/forum/index.php?topic=1376.0" target="_blank">Problemy i błędy na nowej stronie Ligi</a>.
