<% if @articles.present? and @articles.any? %>  
  <%= render :partial => "articles/show_preview", :locals => { :article => @articles.first } %>
  <% 
    for i in 1...@articles.size do
      concat render(:partial => "articles/show_small_preview", :locals => { :article => @articles[i] })
    end
  %>
  <hr />
<% end %>

<div style="margin-left: 100px; margin-right: 100px; text-align: center;">
  <h1>Ostatnie mecze</h1>
  <% if @matches.any? %>
    <ul id="slider">
      <% for m in @matches %>
        <li>
          <%= render 'matches/match_summary', :match => m %>
        </li>
      <% end %>
    </ul>
  <% else %>
  Nie rozegrano jeszcze żadnych meczów w ramach <a href="/competitions/12">Eliminacji do Ekstraklasy (sezon 5)</a>.
  <% end %>
</div>
