<div style="margin-left: 100px; margin-right: 100px; text-align: center;">
  <h1>Wydarzenia ligowe</h1>
  <p>Na tej stronie znajdują się wszystkie najświeższe ligowe informacje, wyniki ostatnich meczów, ostatnie komentarze oraz najświeższe aktywności.</p>
  <ul id="slider">
    <% for m in @matches %>
      <li>
        <%= render 'matches/match_summary', :match => m %>
      </li>
    <% end %>
  </ul>
</div>

<table class="walls">
  <tr>    
    <td colspan='2' class="news">
      <h3>Aktualnosci</h3>
      <ul>
        <li><a href='#'>Wystartowaly zapisy do Pucharu Ligi. Prosimy wszystkie druzyny o rejestracje i zapisywanie sie w dziale Rozgrywki.<small>27/02 12:00</small></a></li>
        <li><a href='#'>Nasza strona wykorzystuje avatary globalne zdefiniowane na stronie gravatar.com. Avatary sa przypisane adresowi e-mail, na ktory zarejestrowano dane konto.<small>27/02 14:45</small></a></li>        
      </ul>
    </td>
  </tr>
  <tr>
    <td class="comments">
      <h3>Komentarze</h3>
      <ul>
        <li><a href='#'>Pozamiatane! <small>miciek @27/02</small></a></li>
        <li><a href='#'>Super niezle panowie, jestesmy debest...<small>opole75 @27/02</small></a></li>
        <li><a href='#'>Pozamiatane! <small>miciek @27/02</small></a></li>
        <li><a href='#'>Super niezle panowie, jestesmy debest...<small>opole75 @27/02</small></a></li>
        <li><a href='#'>Pozamiatane! <small>miciek @27/02</small></a></li>
        <li><a href='#'>Super niezle panowie, jestesmy debest...<small>opole75 @27/02</small></a></li>
      </ul>
    </td>
    <td class="activities">
      <h3>Aktywnosci</h3>
      <ul>
        <li><a href='#'>Druzyna L7T zaproponowala nowy termin meczu z ADHD.<small>27/02 15:40</small></a></li>
        <li><a href='#'>Rozpisana zostala nowa kolejka Ekstraklasy.<small>27/02 15:40</small></a></li>
        <li><a href='#'>Druzyna L7T zaproponowala nowy termin meczu z ADHD.<small>27/02 15:40</small></a></li>
        <li><a href='#'>Rozpisana zostala nowa kolejka Ekstraklasy. <small>27/02 15:40</small></a></li>
      </ul>
    </td>
  </tr>
</table>
