<div style="margin-left: 100px; margin-right: 100px; text-align: center;">
  <h1>Wydarzenia ligowe</h1>
  <p>Na tej stronie znajdują się wszystkie najświeższe ligowe informacje, wyniki ostatnich meczów, ostatnie komentarze oraz najświeższe aktywności.</p>
  <ul id="slider">
    <% for m in @matches %>
      <li>
        <%= render 'matches/match_summary', :match => m %>
      </li>
    <% end %>
  </ul>
</div>
