<div style="margin-left: 100px; margin-right: 100px; text-align: center;">
  <h1>Ostatnie mecze</h1>  
  <ul id="slider">
    <% for m in @matches %>
      <li>
        <%= render 'matches/match_summary', :match => m %>
      </li>
    <% end %>
  </ul>
</div>
<br/>
<h3>O rozgrywkach Ekstraklasy</h3>
<p>Rozgrywki zostały podzielone na 2 etapy. W pierwszym etapie drużyny walczą w dwóch niezależnych grupach 8-drużynowych: Grupie Marco i Grupie Polo. 
  Po 7. kolejkach po 2 najlepsze drużyny z każdej grupy awansują, aby utworzyć grupę mistrzowską. Pozostałe drużyny grają o ostateczne miejsce w rozgrywkach po jednym meczu - odpowiednie miejsca ze sobą (trzecie z trzecim o 5. miejsce, czwarte z czwartym o 7., itd).
  Administracja zdecydowała o następującym podziale:</p>

<table id="minimalist-table-hor-a" summary="Drużyny">
  <thead>
    <tr>

      <th scope="col">Grupa Marco</th>     
      <th scope="col">Grupa Polo</th>     
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>[ADHD] ADHD</td>                   
        <td>[QQ] CrySomeMore</td>         
      </tr>

      <tr>
        <td>[_FC_] Fight Club</td>                   
        <td>[GROM] Grupa Realnie Ogarniętych Miśków</td>         
      </tr>
      <tr>
        <td>[FIFO] Frag in Frag out</td>                   
        <td>[McnH] Mamy coś na Hoście</td>         
      </tr>
      <tr>

        <td>[FAtH] Free At Home</td>                   
        <td>[MPP] Meet Pro Players</td>         
      </tr>
      <tr>
        <td>[HsC] High-Skill-Crew</td>                   
        <td>[Npu3] Na poziomie U3</td>         
      </tr>
      <tr>
        <td>[L7T] Lucky 7 Team</td>                   
        <td>[NwA] Never work Alone</td>         
      </tr>

      <tr>
        <td>[rUpl] Reprezentacja Portalu Uncharted.pl</td>                   
        <td>[P4F] Play For Fun</td>         
      </tr>
      <tr>
        <td>[SiZ] Skromni i Zajebiści</td>                   
        <td>[Si!A] Siła</td>         
      </tr>
  </tbody>

</table>

<p>Szczegóły rozgrywek wraz z regulaminem jak zwykle w dziale <a href="/competitions">Rozgrywki</a>. Mecze można umawiać wchodząc na stronę meczu swojej drużyny (w dziale <a href="/matches">Mecze</a>) i proponując przeciwnikom termin lub akceptując termin proponowany przez nich.</p>

