<h1>Trwa czwarty sezon Polskiej Ligi Uncharted!</h1>
<div style="margin-left: 100px; margin-right: 100px; height: 300px; text-align: center;">
  <ul id="slider">
    <% for m in @matches %>
      <li>
        <%= render 'matches/match_summary', :match => m %>
      </li>
    <% end %>
  </ul>
</div>
