<h1>Liga kwalifikacyjna rozpoczęta!</h1>
<p>Rozpoczęła się liga kwalifikacyjna do rozgrywek Ekstraklasy. 
  Wszystkie zarejestrowane drużyny mogą definiować terminy meczów oraz akceptować terminy zaproponowane przez inne drużyny. 
  Zapraszamy do działu <%= link_to t('matches.page_title'), matches_path %> po szczegóły. Przypominamy, że do Ekstraklasy awansują wszystkie drużyny, które rozegrają co najmniej dwa mecze.</p>

<p>Rozgrywki kwalifikacyjne kończą się 6. lutego. Ostatni mecz musi być zatwierdzony w systemie najpóźniej o 23:59.</p>
<p>Strona wciąż jest i będzie rozbudowywana. Zdajemy sobie sprawę, że nowa strona zawiera błędy i w niektórych miejscach jest nieintuicyjna, dlatego wszelkie problemy tego typu prosimy zgłaszać na forum w specjalnie do tego stworzonym temacie: 
  <a href="http://unchartedleague.com/forum/index.php?topic=1376.0" target="_blank">Problemy i błędy na nowej stronie Ligi</a>.</p>
  
 <div class="video-container">
  <iframe width="480" height="360" src="http://www.youtube.com/embed/VGDjbn0ZHWk" frameborder="0" allowfullscreen></iframe>
 </div> 
