<div style="margin-left: 100px; margin-right: 100px; text-align: center;">
  <h1>Ostatnie mecze</h1>
  <% if @matches.any? %>
    <ul id="slider">
      <% for m in @matches %>
        <li>
          <%= render 'matches/match_summary', :match => m %>
        </li>
      <% end %>
    </ul>
  <% else %>
  Nie rozegrano jeszcze żadnych meczów w ramach <a href="/competitions/12">Eliminacji do Ekstraklasy (sezon 5)</a>.
  <% end %>
</div>
<br/>

<p>Wystartowały eliminacje do sezonu 5! W ciągu najbliższych 3 tygodni drużyny będą walczyć o awans, a na stronie będą pojawiały się podsumowania poprzedniego sezonu. Rozdamy nagrody i odznaczymy odpowiednio drużyny i graczy, którzy byli najlepsi tej wiosny. Szczegóły rozgrywek wraz z regulaminem jak zwykle w dziale <a href="/competitions">Rozgrywki</a>. Mecze można umawiać wchodząc na stronę meczu swojej drużyny (w dziale <a href="/matches">Mecze</a>) i proponując przeciwnikom termin lub akceptując termin proponowany przez nich.</p>

<div class="video-container">
  <iframe src="http://www.youtube.com/embed/videoseries?list=PL860E26FD2E2E3CF9&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
</div><br/>
