#article_list {    
    padding-left: 50px;
    ul { list-style: none; font-style:italic; font-size:24px; }
    ul li { }
    ul li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; border-left: 1px solid #999; }
    ul li p em { display:block; }
    span.date {
        color: #acacac;
        font-size: 12px;
    } 
}

#author_date {
    span.date {
        color: #7b7b7b;
        font-size: 15px;
    }
    span.author {        
        font-size: 15px;
        font-weight: bold;
    }
    span.views {
        font-size: 15px;
        color: #9b9b9b;    
    }
}

#read_more {
    margin-top: 5px;
}

.content {
    margin-top: 5px;
}

.photo {
    margin-top: 10px;
}