// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    //background-color: #aaa8be;
    background: url("bg.jpg") no-repeat fixed center top #eadece;
    //background: #FFF url("bg_gray_tile.png");
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.section {
    background-color: #fffcf9;    
    margin-top: 1em;
    padding: 8px;    
}

.section-no-bg {
    margin-top: 1em;
    padding: 8px;    
}

.header-section {
    background-color: #a8b1c8;    
    margin-top: 1em;
    padding: 3px;
    padding-right: 8px;
}

.error, .alert, .notice, .success, .info {
    padding: 0.8em;
    margin-bottom: 1em;
    border:2px solid #ddd;
}

.success {
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
}

.alert {
    background-color: #ffefdb;
    color: #264409;
    border-color: #f8dab2;
}

.error {
    background-color: #fbdbdd;
    color: #264409;
    border-color: #f8b2b7;
}

.notice {
    background-color: #e8ecff;
}

a.button, input.button { 
    margin: 5px;
    padding:4px 28px 4px 8px; 
    display:inline-block; 
    font-size:11px; 
    color:#fff; 
    border:1px solid #444; 
    background:#333 url(btn-arrow.png) no-repeat right; 
    border-radius:4px; 
    -webkit-border-radius:4px; 
    -moz-border-radius:4px; 
    cursor:pointer; 
}

.pagination {
    a { 
        text-decoration: none; 
        font-weight: normal; 
        font-face: Arial;         
    }

    .current { text-decoration: none; font-weight: bold; }
    .disabled { color: #9f9f9f; }
}

.left {  
  float: left;
}

.right {
  float: right;
}

.nice {
    color: #525044;
    font-family: MuseoSans, Arial;
    font-size: 12px;
}


