<p>Cześć <%= @resource.psn_name %>!</p>

<p>Została wysłana prośba o zresetowanie hasła dla Twojego konta. Jeśli jest to zamierzone, kliknij w poniższy link. Jeśli nie, zignoruj tego e-maila.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Uwaga! Twoje hasło nie zostanie zmienione, dopóki nie odwiedzisz powyższego linka i nie zakończysz procedury zmiany hasła!</p>
