<div class="row">
    <div class="column grid_12 text-center round logo section-no-bg">
        <p>&copy;2012 unchartedleague.com <small>v. 0.9</small></p>
        <p><small>
          This website is in no way affiliated to Naughty Dog nor Sony Computer Entertainment. <br/>
          Uncharted is registered trademark of Sony Computer Entertainment America Inc.. Developed by Naughty Dog &copy; Sony Computer Entertainment America.
        </small></p>
    </div>
</div>
