<head>
  <meta charset="utf-8" />
  <title>Uncharted League - unchartedleague.com</title>
  <meta name="keywords" content="Liga Uncharted 3, Polska liga Uncharted 3, Uncharted 3, Uncharted, PS3 Liga, Playstation Liga, Naughty dog Liga, Uncharted League, Uncharted 3 League, Uncharted 3 Liga, uncharted 2, ps3" />
  <meta name="description" content="Uncharted League - Uncharted 3 League" />
  <meta name="author" content="miciek">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
